.app {
  text-align: center;
  background-color: #f9f5e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  width: 20vw;
  color: #54331d;
}

.title-name {
  font-size: 2rem;
  font-weight: 700;
  width: 20vw;
  color: #f9f5e3;
}

.board {
  background-color: #a96d44;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.cross {
  display: flex;
}

.field {
  height: 5vw;
  width: 5vw;
}
.firehouseImg {
  margin: 2.5vw;
  height: 4vw;
  width: 4vw;
}

.firehouseImg:hover {
  background-color: wheat;
}

.horizontalBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.indianaJones{
  margin-inline: 0.5vw;
  height: 30vh;
}