.app {
  text-align: center;
  background-color: #f9f5e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.title{
  font-size: 2rem;
  font-weight: 700;
  width: 20vw;
  color: #54331d;
}

.title-name{
  font-size: 2rem;
  font-weight: 700;
  width: 20vw;
  color: #f9f5e3;
}

.board{
  width: 30vw;
  height: 30vh;
  background-color: #de8e49;
}


.field {
  height: 100px;
  width: 100px;
  border-style: solid;
}